{{ $s := newScratch }}
{{ $s.Set "article" dict }}


{{ $s.SetInMap "article" "@context"  "https://schema.org" }}
{{ $s.SetInMap "article" "@type"  .jsonldType }}
{{ $s.SetInMap "article" "url" .canonical }}
{{ $s.SetInMap "article" "headline" .title }}
{{ $s.SetInMap "article" "description" .description }}
{{ $s.SetInMap "article" "articleBody" .articleBody }}

{{ with .image }}
{{ $s.SetInMap "article" "image" . }}
{{ end }}

{{ with .wordcount }}
  {{ $s.SetInMap "article" "wordcount" . }}
{{ end }}

{{ with .published_time }}
  {{ $s.SetInMap "article" "datePublished" . }}
{{ end }}

{{ with .modified_time }}
  {{ $s.SetInMap "article" "dateModified" . }}
{{ end }}

{{ with .authors }}
  {{ $authors := slice }}
  {{ range . }}
    {{ $author := (dict "@type" "Person") }}
    {{ range $key, $value := . }}
      {{ $author = merge $author (dict $key $value) }}
    {{ end }}
    {{ $authors = $authors | append $author }}
  {{ end }}
  {{ $s.SetInMap "article" "authors" $authors }}
{{ end }}


{{ return $s.Get "article"  }}
