{{ $s := newScratch }}
{{ $s.Set "og" slice  }}

{{ $s.Add "og" (dict "property" "og:url" "content" .canonical) }}
{{ $s.Add "og" (dict "property" "og:title" "content" .title) }}
{{ $s.Add "og" (dict "property" "og:locale" "content" .locale) }}
{{ $s.Add "og" (dict "property" "og:site_name" "content" .siteTitle) }}
{{ $s.Add "og" (dict "property" "og:type" "content" .ogType) }}

{{ with .page.Section }}
{{ $s.Add "og" (dict "property" "og:section" "content" .) }}
{{ end }}

{{ with .description }}
  {{ $s.Add "og" (dict "property" "og:description" "content" . ) }}
{{ end }}

{{ with .image }}
{{ $s.Add "og" (dict "property" "og:image" "content" . ) }}
  {{/* add image height/width so fb image displays on first share */}}
  {{ with $.imageWidth }}
    {{ $s.Add "og" (dict "property" "og:image:width" "content" . ) }}
  {{ end }}
  {{ with $.imageHeight }}
    {{ $s.Add "og" (dict "property" "og:image:height" "content" . ) }}
  {{ end }}
  {{/* add image type if page resource */}}
  {{ with $.imageType }}
    {{ $s.Add "og" (dict "property" "og:image:type" "content" . ) }}
  {{ end }}
{{ end }}

{{ with .audio }}
  {{ $s.Add "og" (dict "property" "og:audio" "content" . ) }}
{{ end }}

{{ with .video }}
  {{ $s.Add "og" (dict "property" "og:video" "content" . ) }}
{{ end }}




{{ with .locale_alternate }}
  {{ range . }}
    {{ $s.Add "og" (dict "property" "og:locale_alternate" "content" . ) }}
  {{ end }}
{{ end }}

{{ with .see_also }}
  {{ range . }}
    {{ $s.Add "og" (dict "property" "og:see_also" "content" . ) }}
  {{ end }}
{{ end }}


{{/* these are article tags */}}
{{ if and (eq .ogType "article") .page.IsPage }}

  {{ with .page.Section }}
    {{ $s.Add "og" (dict "property" "article:section" "content" . ) }}
  {{ end }}
  {{ with .dateModified }}
    {{ $s.Add "og" (dict "property" "article:published_time" "content" . ) }}
  {{ end }}
  {{ with .dateModified }}
    {{ $s.Add "og" (dict "property"  "article:modified_time" "content" . ) }}
  {{ end }}

{{ end }}


{{ return $s.Get "og" }}
